@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Sigmar+One&family=Patua+One&family=Sofia&family=Gugi&family=Fjalla+One&family=Poppins&family=Righteous&display=swap");
* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(60deg, rgba(154, 218, 27, 0.564), blue);
}

.mainSection {
  display: flex;
  justify-content: space-between;
}

.rightMenu {
  background-color: purple;
  flex-basis: 16.66%;
  background-image: linear-gradient(180deg, #0cbaba, #380036);
  padding-left: 10px;
  padding-right: 10px;
}

.hidden {
  display: none;
}
/*------------------*/
.top {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  border-bottom: #ffffe6 double 15px;
}
.gameName {
  font-size: 6vw;
  text-align: center;
  font-family: "Paytone One", sans-serif;
  background-color: inherit;
  background-image: inherit;
  color: rgb(242, 243, 237);
}
.developed {
  font-family: "Gugi", cursive;
  font-size: 2.5vw;
  text-align: center;
  background-color: inherit;
  background-image: inherit;
  color: #ffffe6;
  letter-spacing: 3px;
  padding-bottom: 8px;
}
.myPrevProjects {
  padding-right: 10px;
  padding-left: 10px;
}
.myPrevProjectsLabel {
  color: white;
  text-align: center;
  font-size: 1.5vw;
  letter-spacing: 2px;
  font-family: "Sofia", cursive;
  font-weight: bolder;
  padding-right: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
}
.leftMenu {
  flex-basis: 16.66%;
  background-color: #380036;
  background-image: linear-gradient(180deg, #380036, maroon);
}
.guessTheNumber {
  background-color: inherit;
  padding-top: 30px;
  background-color: ivory;
  border-radius: 8px;
  margin-bottom: 8px;
}
.pigGame {
  background-color: inherit;
  padding-top: 30px;
  background-color: ivory;
  border-radius: 8px;

  margin-top: 8px;
}
h4 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.5vw;
  letter-spacing: 1px;
  text-align: center;
}
h3 {
  font-weight: bold;
  letter-spacing: 0.2vw;
  margin: 0.5vw 0vw 0.5vw 0vw;
  color: black;
  text-decoration-line: underline;
}
.btn {
  background-color: #d0bae6;
  font-size: 1.75vw;
  border-style: solid;
  border-radius: 10px;
  border-color: #7e12e6;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
}
.btn:hover {
  background-color: #380036;
  color: ivory;
  cursor: pointer;
}
.reachMe {
  color: #33001a;
  text-align: center;
  font-size: 1.5vw;
  letter-spacing: 2px;
  font-family: "Sofia", cursive;
  padding-right: 5px;
  margin-bottom: 15px;
  padding-top: 10px;
  font-weight: 900;
}
.gmail,
.github,
.linkedIn {
  background-color: ivory;
  width: 135px;
  height: 135px;
  border-radius: 10px;
  border-color: ivory;
  margin-bottom: 25px;
}
img:hover {
  cursor: pointer;
}
.gameHead {
  background-color: inherit;
  flex-basis: 66.67%;
  font-family: "Patua One", cursive;
  font-size: 2vw;
  padding: 25px;
  color: whitesmoke;
}
/*-------------------------*/
.misc {
  color: black;
  line-height: 2.75vw;
}
.boom {
  text-align: center;
  font-family: "Sigmar One", cursive;
  font-size: 3vw;
  color: black;
}
.row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.btnsAV,
.imgClass {
  border-radius: 45px;
  border: none;
}
.nameOfPlayer {
  padding: 1vw;
  font-size: 1.75vw;
  background-color: black;
  color: white;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 0.25vw;
  border: none;
  border-radius: 0.5vw;
  width: auto;
}
::placeholder {
  color: white;
  opacity: 0.8;
}
.nameButton {
  font-size: 2vw;
  padding: 0.5vw;
  font-family: "Fjalla One", sans-serif;
  background-color: rgb(88, 214, 29);
  border: solid black 0.25vw;
  border-radius: 0.25vw;
  color: white;
  margin: 10px;
  letter-spacing: 0.5vw;
}
.nameButton:hover {
  cursor: pointer;
}

.chooseAV {
  letter-spacing: 0.5vw;
  border: double 0.5vw black;
  padding: 1vw;
  border-radius: 3vw;
  text-align: center;
  margin: 1vw 0vw 1vw 0vw;
}
.userCredentials {
  text-align: center;
  margin: 1vw 0vw 1vw 0vw;
}
.lastNote {
  color: rgb(26, 21, 20);
  font-size: 1.5vw;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.25vw;
}
.interaction {
  color: black;
  font-size: 2.5vw;
}
@media screen and (max-device-width: 767px) {
  .scol-1,
  .scol-2,
  .scol-3,
  .scol-4,
  .scol-5,
  .scol-6,
  .scol-7,
  .scol-8,
  .sol-9,
  .scol-10,
  .scol-11,
  .scol-12 {
    float: left;
  }

  .scol-1 {
    width: 8.33%;
  }
  .scol-2 {
    width: 16.66%;
  }
  .scol-3 {
    width: 25%;
  }
  .scol-4 {
    width: 33.33%;
  }
  .scol-5 {
    width: 41.66%;
  }
  .scol-6 {
    width: 50%;
  }
  .scol-7 {
    width: 58.33%;
  }
  .scol-8 {
    width: 66.66%;
  }
  .scol-9 {
    width: 75%;
  }
  .scol-10 {
    width: 83.33%;
  }
  .scol-11 {
    width: 91.66%;
  }
  .scol-12 {
    width: 100%;
  }
  /*.leftMenu {
    display: none;
  }
  .rightMenu {
    display: none;
  }
  .gameHead {
    flex-basis: 100%;
  }*/
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .mcol-1,
  .mcol-2,
  .mcol-3,
  .mcol-4,
  .mcol-5,
  .mcol-6,
  .mcol-7,
  .mcol-8,
  .mcol-9,
  .mcol-10,
  .mcol-11,
  .mcol-12 {
    float: left;
  }
  .mcol-1 {
    width: 8.33%;
  }
  .mcol-2 {
    width: 16.66%;
  }
  .mcol-3 {
    width: 25%;
  }
  .mcol-4 {
    width: 33.33%;
  }
  .mcol-5 {
    width: 41.66%;
  }
  .mcol-6 {
    width: 50%;
  }
  .mcol-7 {
    width: 58.33%;
  }
  .mcol-8 {
    width: 66.66%;
  }
  .mcol-9 {
    width: 75%;
  }
  .mcol-10 {
    width: 83.33%;
  }
  .mcol-11 {
    width: 91.66%;
  }
  .mcol-12 {
    width: 100%;
  }
}

@media screen and (min-device-width: 992px) {
  .lcol-1,
  .lcol-2,
  .lcol-3,
  .lcol-4,
  .lcol-5,
  .lcol-6,
  .lcol-7,
  .lcol-8,
  .lcol-9,
  .lcol-10,
  .lcol-11,
  .lcol-12 {
    float: left;
  }

  .lcol-1 {
    width: 8.33%;
  }
  .lcol-2 {
    width: 16.66%;
  }
  .lcol-3 {
    width: 25%;
  }
  .lcol-4 {
    width: 33.33%;
  }
  .lcol-5 {
    width: 41.66%;
  }
  .lcol-6 {
    width: 50%;
  }
  .lcol-7 {
    width: 58.33%;
  }
  .lcol-8 {
    width: 66.66%;
  }
  .lcol-9 {
    width: 75%;
  }
  .lcol-10 {
    width: 83.33%;
  }
  .lcol-11 {
    width: 91.66%;
  }
  .lcol-12 {
    width: 100%;
  }
}
